

<div class="transparent-background homepage">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light home-title web-title">Esteband-In</h1>
        <p class="lead"> <p class="notice"><%= notice %></p></p>
        <% if ei_user_signed_in? %>
          <%= link_to "Empleos disponibles", ei_jobs_path, class: "btn btn-dark form-button form-title" %>
          <% else %>
          <%= link_to "Empezar", new_ei_user_session_path, class: "btn btn-dark form-button form-title" %>
          <% end %>
      </div>
    </div>
  </div>
  </div>
