#mainNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 1px solid #dee2e6;
    background-color: #fff;
    font-family: "Open Sans";
  }
  #mainNav .navbar-brand {
    font-family: "Open Sans";
    font-size: 2rem;
    font-weight: 800;
  }
  #mainNav .navbar-toggler {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.75rem;
    text-transform: uppercase;
  }

 
  @media (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #mainNav .navbar-brand {
      color: #8C543C;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #977261;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link {
      color: #5B3223;
    }
    #mainNav .navbar-nav > li.nav-item > a.nav-link:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
      color: #977261;
    }
  }
  @media (min-width: 992px) {
    #mainNav {
      transition: background-color 0.2s;
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    #mainNav.is-fixed {
      position: fixed;
      top: -83px;
      transition: transform 0.2s;
      border-bottom: 1px solid white;
      background-color: rgba(255, 255, 255, 0.9);
    }
    #mainNav.is-fixed .navbar-brand {
      color: #977261;
    }
    #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
      color: #0085A1;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
      color: #5B3223;
    }
    #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
      color: #0085A1;
    }
    #mainNav.is-visible {
      transform: translate3d(0, 100%, 0);
    }
  }
  .dropdown-menu {
    background-color: #FFF;
    border: none; 
  }
  
  .dropdown-item {
    color: #8C543C;
   
  }

  .nav-item a {
    font-size: 1rem;
  }

  .navbar-brand i{
    font-size: 3rem;
  }